:root {
            font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
            line-height: 1.5;
            font-weight: 400;
            color-scheme: light dark;
            background-color: #e7f7ff;
            /* color: rgba(255, 255, 255, 0.87); */
            background-color: rgb(164, 197, 250);
        }

        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            text-align: center;
            padding: 2rem;
            /* border: 5px solid #183cbc;
            border-radius: 10%; */
            /* background-color: rgb(164, 197, 250); */
        }

        h1 {
            font-size: 3.2em;
            margin-bottom: 2rem;
            /* color: #646cff;
            text-shadow: 0 0 10px rgba(100, 108, 255, 0.3); */
            color: #183cbc;
            /* text-shadow: 0 0 10px rgba(32, 201, 243, 0.3); */
         text-shadow: 0 5px 15px rgba(42, 52, 255, 0.4);
        }

        .button-container {
            display: flex;
            gap: 2rem;
            justify-content: center;
        }

        .btn {
            padding: 1rem 2rem;
            font-size: 1.2rem;
            border: 2px solid #646cff;
            border-radius: 8px;
            /* background-color: transparent; */
            background-color: blue;
            /* color: #fff; */

            cursor: pointer;
            transition: all 0.3s ease;
        }

        .btn:hover {
            background-color: #08009c;
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(42, 52, 255, 0.4);
        }

        .btn:active {
            transform: translateY(0);
        }